<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/css/index.css'>
		<link rel='stylesheet' href='/css/semantic.min.css'>
	</head>
	<body>
		<div id='header'>
			<img class="header item" id='logo' src='../images/matcha.png'>
			<form class="header item" action='/login' method='post' id='signin'>
				<div class="ui left icon input">
					<input class='textbox' type='text' name='login' placeholder='Username'>
					<i class="user icon"></i>
				</div>
				<div class="ui left icon input">
					<input class='textbox' type='password' name='password' placeholder='Password'>
					<i class="lock icon"></i>
				</div>
				<input class='textbox' id='login' type='submit' name='submit' value='Sign in'>
			</form>
		</div>
		<% if (locals.error) { %>
			<div class='ui negative message'>
				<%= locals.error %>
			</div>
		<% } %>
		<div id='signup'>
			<h1>Sign Up</h1>
			<form action='/register' method='post' >
				<input class='textbox' type='text' name='fname' placeholder='First Name'>
				<input class='textbox' type='text' name='lname' placeholder='Last Name'><br/>
				<input class='txtbox' type='text' name='login' placeholder='Username' minlength='5'><br/>
				<label>Birthday</label>
				<select class="ui dropdown" name="bday">
					<option value="">Day</option>
					<%
						let days = ["1", "2", "3", "4", "5", "6", "7", "8",
						"9", "10", "11", "12", "13", "14", "15", "16", "17", "18",
						"19", "20", "21", "22", "23", "24", "25", "26", "27", "28",
						"29", "30", "31" ]

						for ( var i = 0; i < 31; i++ )
						{
							%><option value="<%= days[i]%>" ><%=days[i] %></option><%
						}
					%>
						</select>
					<!-- </div> -->
				<!-- <div class="field"> -->
					<select class="ui dropdown" name="bmonth">
						<option value="">Month</option>
						<%
							let months = [ "January", "February", "March",
							"April", "May", "June", "July", "August", "September",
							"October", "November", "December" ]

							for ( var i = 0; i < 12; i++ )
							{
								%><option value="<%= i + 1%>" ><%=months[i] %></option><%
							}
						%>
					</select>
				<!-- </div> -->
				<input id='bdaybox' type='text' name='byear' minlength='4' maxlength='4' placeholder='Year'><br />
				<input class='txtbox' type='email' name='email' placeholder='Email'><br/>
				<input class='txtbox' type='password' name='password' placeholder='Password' minlength='6'><br/>
				<select class='txtbox' name='gender' class="ui dropdown">
					<option value="">Gender</option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
				</select><br />
				<!-- <input id='gender' type='radio' name='gender' value='Female'><label>Female</label> -->
				<!-- <input id='gender' type='radio' name='gender' value='Male'><label>Male</label><br/> -->
				<input class='txtbox' id='register' type='submit' name='submit' value='Sign Up'>
			</form>
		</div>
	</body>
</html>
